{% extends 'header.html' %}

{% block title %}Detalhes Estádio de Futebol{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ estadio.nome }} - Detalhes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <!-- Seção de cabeçalho da Associação -->
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h3>Detalhes do Estádio</h3>
            </div>
            <div class="card-body d-flex align-items-center">
                <!-- Imagem da Associação -->
                <img src="{{ estadio.imagem }}" alt="Logo da Associação" class="rounded me-3" style="width: 150px; height: 150px;">

                <!-- Informações do clube -->
                <div>
                    <h1 class="mb-1">{{ estadio.nome }}</h1>
                    <p class="mb-0"><b>País: </b> {{ estadio.pais }}</p>
                    <p class="mb-0"><b>URL:</b> <a href="{{ estadio.url }}" target="_blank">{{ estadio.url }}</a></p> 
                </div>
            </div>
        </div>

        <!-- Seção de clubes -->
		<div class="card">
			<div class="card-header bg-success text-white">
				<h3>Clubes</h3>
			</div>
			<div class="card-body">
				{% if clubes %}
					<ul class="list-group">
						{% for clube in clubes %}
						<li class="list-group-item">
							<strong>{{ clube.nome }}</strong> - {{ clube.pais }}
						</li>
						{% endfor %}
					</ul>
				{% else %}
					<p class="text-center">Nenhum clube associado.</p>
				{% endif %}
			</div>
		</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}
